[color]
	ui = true
[alias]
	tree = log --graph --oneline --all --decorate
[commit]
	template = ~/.git_commit_message_template
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[credential]
	helper = osxkeychain
[push]
	default = tracking
[help]
	autocorrect = -1
[rebase]
	autosquash = true
